@{
    ViewData["Title"] = "API Recipes";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - Recipes</h1>


        <br />
        <br />
         
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="topBox">
        
    </div>

    <br />
    <br />


    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>


    <br />
    <br />

    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

    <br />
    <br />

</body>
