@{
    ViewData["Title"] = "API Recipes";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - Recipes</h1>


        <br />
        <br />
         
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="APIRecipeBox">
        <p id="recipeName">Test</p>
        
        <br/>
        <br/>

        <div id="recipeImg">
            <img id="recipePicture" />
        </div>

        <br />
        <br />
        
        <div id="recipeIgredient">
            <p id="ingredient1">test</p>
            <p id="ingredient2"></p>
            <p id="ingredient3"></p>
            <p id="ingredient4"></p>
            <p id="ingredient5"></p>
            <p id="ingredient6"></p>
            <p id="ingredient7">test</p>
            <p id="ingredient8"></p>
            <p id="ingredient9"></p>
            <p id="ingredient10"></p>
            <p id="ingredient11"></p>
            <p id="ingredient12"></p>
            <p id="ingredient13"></p>
            <p id="ingredient14"></p>
            <p id="ingredient15"></p>
            <p id="ingredient16"></p>
            <p id="ingredient17"></p>
            <p id="ingredient18"></p>
            <p id="ingredient19"></p>
            <p id="ingredient20"></p>
        </div>

        <br/>
        <br/>

        <div id="recipeInstruction">
            <p id="instruction1">test</p>
            <p id="instruction2"></p>
            <p id="instruction3"></p>
            <p id="instruction4"></p>
            <p id="instruction5"></p>
            <p id="instruction6"></p>
            <p id="instruction7">test</p>
            <p id="instruction8"></p>
            <p id="instruction9"></p>
            <p id="instruction10"></p>
            <p id="instruction11"></p>
            <p id="instruction12"></p>
            <p id="instruction13"></p>
            <p id="instruction14"></p>
            <p id="instruction15"></p>
            <p id="instruction16"></p>
            <p id="instruction17"></p>
            <p id="instruction18"></p>
            <p id="instruction19"></p>
            <p id="instruction20"></p>
            <p id="instruction21"></p>
            <p id="instruction22"></p>
            <p id="instruction23"></p>
            <p id="instruction24"></p>
            <p id="instruction25"></p>
        </div>
        

        <br/>
        <br/>


    </div>

    <br />
    <br />


    <br />
    <br />

    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

    <br />
    <br />

</body>
