@{
    ViewData["Title"] = "API Recipes";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - Recipes</h1>


        <br />
        <br />
         
    </div>

    <br />
    <br />
    <br />
    <br />

    <div class="topBox">
        <div>
            <img class="padding" src="/css/images/cooking.png" />
        </div>
        <div id="Mission" class="center">
            <h2 class="textSize2">Our Misson:</h2>
            <p class="textSize">
                The mission of our site it to make all blog recipe sites obsolete. Say goodbye to the never ending scroll to find the recipe. With Cut the BS you get recipes and only recipes.
                No rambling story from Debbie about how when her kids were young they would jump of bridges, or from Terry who discovered this recipe after accidently shooting is brother while
                they were on a hunting trip. Along with not "riveting" stories no annoying ads that jump out of nowhere making you click them while your scrolling. We understand your pain and we
                are working to eliminate it.
            </p>
        </div>
    </div>

    <br />
    <br />


    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

    <div class="middleBox">
        <div id="About" class="center">
            <h2 class="textSize2">What Were About:</h2>
            <p class="textSize">
                This site is used to host recipes made by user's like you. We want to see and experience your recipes without having to scroll through what could of been a riveting stories from you all.
                We would love to get to know you through the food you cook. Through the recipes that you have created, made, and enjoyed. Share the joy and good food to our budding comunity. We can't wait to
                get to know you!
            </p>
        </div>
        <div>
            <img class="padding" src="/css/images/cooking2.png" />
        </div>
    </div>


    <br />
    <br />

    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

    <br />
    <br />

    <div class="bottomBox">
        <div>
            <img class="padding" src="/css/images/cooking3.png" />
        </div>
        <div id="Offer" class="center">
            <h2 class="textSize2">What We Offer:</h2>
            <p class="textSize">
                Login to have access to Cut The BS's database of recipes, or add recipes of your own!. Browse the community recipes to find whatever you want to make. Join the community of home cooks and bakers
                on the move to find new and interesting recipes!
            </p>
        </div>
    </div>
</body>
