@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Community Recipe Page";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="Mission" class="nav-link px-2 link-dark">Our Mission</a></li>
        <li><a href="About" class="nav-link px-2 link-dark">What Were About </a></li>
        <li><a href="Offer" class="nav-link px-2 link-dark">What We Offer</a></li>


    </ul>

    <div class="text-center">
        <li><a href="Mission" class="nav-link px-2 link-dark">Our Mission</a></li>
        <li><a href="About" class="nav-link px-2 link-dark">What Were About </a></li>
        <li><a href="Offer" class="nav-link px-2 link-dark">What We Offer</a></li>


    </ul>

    <div class="text-center">
        <li><a href="Mission" class="nav-link px-2 link-dark">Our Mission</a></li>
        <li><a href="About" class="nav-link px-2 link-dark">What Were About </a></li>
        <li><a href="Offer" class="nav-link px-2 link-dark">What We Offer</a></li>


    </ul>

    <div class="text-center">
        <li><a href="Mission" class="nav-link px-2 link-dark">Our Mission</a></li>
        <li><a href="About" class="nav-link px-2 link-dark">What Were About </a></li>
        <li><a href="Offer" class="nav-link px-2 link-dark">What We Offer</a></li>


    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - Community Recipes</h1>


        <br />
        <br />


        <img class="imgs" src="/css/images/We're tired of the endless scroll to find our recipes, are you.png" />
    </div>

    <br />
    <br />
    <form class="d-flex" asp-controller="Home" asp-action="Search" method="post">
        <input name="key" class="form-control me-sm-2" type="search" placeholder="search by catagory" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br />
    <form asp-controller="Home" asp-action="Filter" method="post">
        <input name="Ingrediants" placeholder="Ingrediants" />
       

        <button type="submit" class="btn btn-success">Filter</button>
    </form>
    <br />
    <br />

   

    <br />
    <br />


    <div class="foodBanner">
        <img class="imgs" src="/css/images/banner.png" />
    </div>

   
    @if (Model == null)
    {
        <h2>No Recipes Found</h2>

    }

    else
    {
        foreach (Recipe recipe in Model)
        {
            <!--<h3>@recipe.ToString()</h3>-->

            <partial name="_RecipePartialView.cshtml" for="@recipe" />
        }
    }

    <br />
    <br />



    <br />
    <br />
</body>
