@{
    ViewData["Title"] = "Community Recipe Page";
}

<body data-spy="scroll" data-target=".nav">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="Mission" class="nav-link px-2 link-dark">Our Mission</a></li>
        <li><a href="About" class="nav-link px-2 link-dark">What Were About </a></li>
        <li><a href="Offer" class="nav-link px-2 link-dark">What We Offer</a></li>


    </ul>

    <div class="text-center">
        <h1 class="websiteText">Cut The BS - Community Recipes</h1>


        <br />
        <br />


        <img src="/css/images/We're tired of the endless scroll to find our recipes, are you.png" />
    </div>

    <br />
    <br />
    <br />
    <br />

   

    <br />
    <br />


    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

   
    @if (Model == null)
    {
        <h2>No Recipes Found</h2>

    }

    else
    {
        foreach (Recipe recipe in Model)
        {
            <!--<h3>@recipe.ToString()</h3>-->

            <partial name="_RecipePartialView.cshtml" for="@recipe" />
        }
    }

    <br />
    <br />

    <div>
        <img class="foodBanner" src="/css/images/banner.png" />
    </div>

    <br />
    <br />
</body>
