@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="websiteText">Cut The BS</h1>
    <h2 class="websiteText">Recipes</h2>

    <img src="/css/images/We're tired of the endless scroll to find our recipes, are you.png"/>
</div>

    <div class="spacer"></div>

        <div class="topBox">
            <div>
                <img src="" />
            </div>
            <div>
                <p>

                </p>
            </div>
        </div>

    <div class="spacer"></div>


            <div>
                <img class="foodBanner" src="/css/images/food banner.png"/>
            </div>

        <div class="bottomBox">
            <div>
                <p>
                    rjasdfghjkl;ytrsazxcvbnm,;nlkdnfjbdjangfbaljfndlkabgvjbfdkjvgoinafoihreafndskjvcjdabsjvnlkwadnoienlkwnajnreavgnjrebgjrehoifjewknvcndbvjewbiovgewkfmkdlsnjvbeuowfifnsbdbk
                    dbwjfoewfnndsmfewjifreghjdbsvjdnskvnhreiojfk;lsnfbdhvgiuewjofmkndsjgbbgdskajvdjfjdskfkdskl.
                </p>
            </div>
            <div>
                <img src="" />
            </div>
        </div>
