@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="websiteText">Cut The BS</h1>
    <h2 class="websiteText">Recipes</h2>

    <img src="/css/images/We're tired of the endless scroll to find our recipes, are you.png"/>
</div>

