.main-theme-color-btn {
    background-color: #B3C8AA;
    border-color: #E9F1E6;
}

.main-theme-color-btn:hover {
    background-color: #627B57;
}

.nav-pills .nav-link.active {
    background-color: #627B57;
}
.nav-link {
    transition: none;
}

