html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E9F1E6;
}

.navColor {
    background-color: #627B57;
}

.navColor2 {
    background-color: #B3C8AA;
    border-radius:50px
}

h1{
    font-family: webText;
    font-size: 200px;
}

@media screen and (max-width:1000px){
    .imgs{
        display:none;
    }
}


.foodBanner{
    display:flex;
    justify-content:left;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #B3C8AA;
    border-radius:7px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.textSize{
    font-size:24px;
}
.textSize2 {
    font-size: 40px;
}

.padding{
    padding:20px 20px;
    margin: 10px 10px;
}

.topBox{
    display:flex;
    flex-direction:row;
}

.middleBox {
    display: flex;
    flex-direction: row;
}

.bottomBox{
    display:flex;
    flex-direction: row;
}

@font-face {
    font-family: webText;
    src: url(/css/SweetPeas.ttf);
}

.APIRecipeBox{
    text-align: center;
}





#apiSearch {
    background-color: #627B57;
    text-align: center;
}

#apiSearch:hover {
    background-color: #B3C8AA;
}

#apiLists {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 45px;
    justify-content: center;
    text-align: center;
}

#foodDisplay {
    padding: 20px;
    text-align: center;
}

#foodText {
    font-weight: bold;
    text-align: center;
}

#apiImg {
    height: auto;
    text-align: center;
    width: 35%;
}

#insDisplay {
    align-content: center;
    background-color: #B3C8AA;
    border: 2px solid #ccc;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    width: 95%;
}

#insText {
    font-size: 40px;
}

#information {
    flex-direction: row;
    grid-row: row;
    justify-content: center;
    text-align: center;
}

#ingDisplay {
    align-content: center;
    background-color: #B3C8AA;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    height: 500px;
    justify-content: left;
    text-align: center;
    width: 70%;
}

#apiSearch {
    background-color: #627B57;
}

.dark {
    background-color: #023020;
    color: lightgray;
}

.foodImg {
    padding: 20px;
    text-align: center;
    height: 40px;
    width: 40px;
}

.comFood {
    text-align: center;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 700px;
    border: solid 3px #097969;
    margin: auto
}

#img {
    max-width: 100%;
    height: 250px;
}