html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E9F1E6;
}

.navColor {
    background-color: #627B57;
}

websiteText{
    font-family:webText;
}

.foodBanner{
    display:flex;
    justify-content:left;
}

.bottomBox{
    display:flex;
    flex-direction: row;
}

@font-face {
    font-family: webText;
    src: url('./css/DK Lemon Yellow Sun.otf');
}